.testimonials{
    width: 100%;
    height: 472px;
    background: #13181A;

}

.testimonial-bg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;



}

.comment{
    flex-shrink: 0;
    width: 600px;
    height: 350px;
    background: #474A50;
    position: relative;
    left: 400px;
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    transform: translateX(190%); 
    animation: move 43s linear infinite;
    .comment-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        img{
            width: 150px;
            height: 150px;
            margin-bottom: 20px
        };
        p{
            color: white;
            text-align: center

        };
        i{
            color: #fcb404;
            width: 50px;
            height: 50px;

        }
    }
    .comment-right{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: white;
            text-align: left;
            line-height: 1.7rem;
        }
    }
}
@keyframes move {
    to { transform: translateX(-880%); }
  }